/* GENERAL */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fdf0f7; /* soft pink background */
}

/* NAVIGATION */
.nav {
    background: linear-gradient(90deg, #ff71b8, #b45cff);
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    letter-spacing: 1px;
}

.menu a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

/* PICTURE BOX SECTION */
.pic-section {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    gap: 20px;
    
}

.pic-box {
    width: 300px;
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
    border: 3px solid #ff71b8;
    box-shadow: 0 4px 10px rgba(255, 105, 180, 0.4);
    background: white;   
}

.pic-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CONTENT BOXES */
.content-box {
    width: 80%;
    margin: 25px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transform: translateY(0);
    transition: 0.3s ease;
}

.content-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.12);
}

.content-box h3 {
    color: #d63384;
}
.footer {
    background: #ff71b8;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}



/* ABOUT */
.about-container {
    text-align: center;
    padding: 20px;
}

.about-title {
    color: #d63384;
}

.manager-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}